{% extends 'base.html' %}

{% block title %}{{ class_id }}{% endblock %}


{% block content %}
<div class="container">
    <h1 class="class-name">{{class_id}}</h1>
    {% if timetables_list %}
      <div class="rows">
        {% for a in timetables_list %}
          <div class="timetable">

          <div class="card">
            <h5 class="card-header">{{a.timetable_date}}</h5>
            <div class="card-body">
                <p class="lesson">1 {{ a.first_lesson }}</p>
                <p class="cabinet">{{ a.first_cabinet }}</p>
                <hr>
                <p class="card-text">2 {{a.second_lesson}}</p>
                <p class="card-text">3 {{a.third_lesson}}</p>
                <p class="card-text">4 {{a.fourth_lesson}}</p>
                <p class="card-text">5 {{a.fifth_lesson}}</p>
                <p class="card-text">6 {{a.sixth_lesson}}</p>
                <p class="card-text">7 {{a.seventh_lesson}}</p>
            </div>
            </div>
{#          <p class="date">{{a.timetable_date}}</p>#}
{#          <p class="lesson">1 {{a.first_lesson}}</p>#}
{#          <p class="cabinet">{{a.first_cabinet}}</p>#}
{#          <p class="lesson">2 {{a.second_lesson}}</p>#}
{#          <p class="cabinet">{{a.second_cabinet}}</p>#}
{#          <p class="lesson">3 {{a.third_lesson}}</p>#}
{#          <p class="cabinet">{{a.third_cabinet}}</p>#}
{#          <p class="lesson">4 {{a.fourth_lesson}}</p>#}
{#          <p class="cabinet">{{a.fourth_cabinet}}</p>#}
{#          <p class="lesson">5 {{a.fifth_lesson}}</p>#}
{#          <p class="cabinet">{{a.fifth_cabinet}}</p>#}
{#          <p class="lesson">6 {{a.sixth_lesson}}</p>#}
{#          <p class="cabinet">{{a.sixth_cabinet}}</p>#}
{#          <p class="lesson">7 {{a.seventh_lesson}}</p>#}
{#          <p class="cabinet">{{a.seventh_cabinet}}</p>#}
          </div>
        {% endfor %}
      </div>
    {% endif %}
</div>
{% endblock %}
