{% extends 'base.html' %}

{% block title %}Class selector{% endblock %}


{% block content %}
<main>
    {% csrf_token %}
    <form action="{% url 'search' %}" method="post" class="refister-form-container">
        <h1 class="form-title">Найти расписание</h1>            
        <div class="form-fields">
                    <select size="3" multiple name="hero[]">
                     {% for a in class_list %}
                     <option value="{{a.name}}">{{a.name}}</option>
                     {% endfor %}
                    </select>
            <div class="form-date">
                <input type="date" name="Date" size="39.5" id="dateToday">
            </div>
        </div>
        <div class="form-button">
            <button type="submit"  class="search-button">Найти расписание</button>
        </div>
    </form>
</main>
{% endblock %}
