{% extends 'base.html' %}

{% block title %}Class selector{% endblock %}


{% block content %}
<main>
    
    <form action="{% url 'search' %}" method="get " class="refister-form-container">
        <h1 class="form-title">Найти расписание</h1>            
        <div class="form-fields">
            <div class="form-class">
                <input type="search" placeholder="Класс" name="q" size="39.5">
            </div>
            <div class="form-date">
                <input type="date" name="Date" size="39.5" id="dateToday">
            </div>
        </div>
        <div class="form-button">
            <button type="submit"  class="search-button">Найти расписание</button>
        </div>
    </form>
</main>
{% endblock %}
